@import url('https://fonts.googleapis.com/css2?family=Allura&family=Inter:wght@400;500;600&display=swap');

:root{
    --color-text-menu: #0D0D0D;
    --color-text: #e8e8e8;
    --color-bg: #e8e8e8;
    --color-text-footer: #0d0d0daa;
    --color-text-footer-link: #0d0d0d;
    --color-video-hover: #00000033;
    --color-btn: #e8e8e8;
    --color-btn-hover: #ffffff;
    --color-border: #0D0D0D66;
    --color-one: #467302;
    --color-two: #f2b705;
    --color-three: #F2360C;

    --lua: block;
    --sol: none;

    --svg: #0d0d0d;
}

.dark{
    --color-text-menu: #e8e8e8;
    --color-bg: #1b1b1b;
    --color-text-footer: #e8e8e8aa;
    --color-text-footer-link: #e8e8e8;
    --color-video-hover: #00000066;
    --color-btn-tobuy: #0d0d0daa;
    --color-btn-tobuy-hover: #ffffffaa;
    --color-border: #e8e8e866;
    --color-one: #e41e23;
    --color-two: #467302;
    --color-three: #f2b705;

    --lua: none;
    --sol: block;

    --svg: #e8e8e8;
}

*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color:var(--color-bg);
}

#aviso{
    width: 100vw;
    min-height:100vh;
    background-color: #0D0D0D;
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 10;
    display: none;
}

.aviso-conteudo{
    padding: 25vh 0vw;
    width: 100vw;
    max-width: 600px;
    margin: 0 auto;
}

.aviso-conteudo .aviso-btn{
    position: absolute;
    top: 3%;
    right: 2%;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    border-radius: 50%;
}

.aviso-conteudo .aviso-btn:hover{
    background: #e8e8e8;
}

.aviso-conteudo .aviso-btn:hover i{
    color: #0d0d0d;
}

.aviso-btn i{
    color: #e8e8e8;
    font-size: 1.7vw;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.aviso-conteudo h2{
    margin-bottom: 2.5vh;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.3vw;
    color: #e8e8e8;
}

.aviso-conteudo p{
    margin-bottom: 2vh;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    color: #e8e8e8;
}
header {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.faixa1{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 2% 0% 2%;
    border-bottom: 0.1vw solid var(--color-border);
}

.faixa1 .logo{
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.faixa1 .logo h1{
    width: 40%;
    font-family: 'Allura', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    
}

.faixa1 .logo a{
    color: var(--color-text-menu);
}

.logo #slogan{
    width: 60%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--color-text-menu);
    font-size: 1rem;
    padding-left: 7%;
    border-left: 0.1vw solid var(--color-text-menu);
    height: 2vw;
    line-height: 2vw;
}

.certificados{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 1.5vw;
    height: 11vh;
}

.certificados img, svg{
    height: 8.6vh;
    fill: var(--svg);
}

.faixa2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 0 2.2% 0 0;
}
.menu{
    width: 60%;
    height: 6vh;
}

.menu ul{
    width: 100%;
    height: 6vh;
    margin: 0 auto;
    display: flex;
    justify-content:left;
    gap: 0.5%;
}

.menu ul li {
    list-style: none;
    position: relative;
}

.menu ul li a{
    width: 8vw;
    height: 6vh;
    display: inline-block;
    text-align: center;
    color: var(--color-text-menu);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 10%;
}

.menu ul li a:after{
    position: absolute;
    width: 0;
    height: 0.6vh;
    background-color: var(--color-one);
    content: "";
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 400ms;
    transition: 400ms;
}

.menu ul li a:hover:after{
    width: 100%;
}

.social-media{
    width: 27.5%;
}

.social-media ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 5%;
}

.social-media ul li{
    list-style: none;
}

.social-media ul li a{
    color:var(--color-text-menu);
}

.social-media ul li a .fa-brands{
    font-size: 1.5vw;
}

.social-media ul li a .fa-brands:hover{
    color: var(--color-one);
}

.acessibilidade{
    width: 7%;
    border-left: 0.1vw solid var(--color-text-menu);
}

.acessibilidade ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 15%;
}

.acessibilidade ul li{
    list-style: none;
    position: relative;
}

.acessibilidade ul li i{
    color:var(--color-text-menu);
    font-size: 1.5vw;
    cursor: pointer;
}

.acessibilidade ul li i:hover{
    color: var(--color-one);
}

#idiomas{
    position: absolute;
    top: 0%;
    right: 120%;
    padding: 0% 40%;
    height: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color:var(--color-text-menu);
    font-size: 1em;
    background-color: var(--color-bg);
}

.select-idioma{
    margin: 0% 7.5%;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.divisor-idiomas{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

input[type="checkbox"]{
    display: none;
}

.fa-sun{
    display: var(--sol);
}

.fa-moon{
    display: var(--lua);
}

#chamada{
    width: 95%;
    margin: 0 auto;
    height: 76vh;
}

#chamada-box{
    width: 100%;
    height: 40vh;
    display: relative;
}

.chamada-box1 {
    width: 45%;
    height: 76.1vh;
    background-color:var(--color-one);
    z-index: 2;
    position:absolute;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.8% 7.2% 2.8% 2.8%;
}

.chamada-titulo{
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15%;
}

.chamada-titulo h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-text);
    line-height: 2.6vw;
}

.chamada-titulo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--color-text);
    line-height: 1.5vw;
}

.chamada-btn{
    width: 27vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    gap: 0.7vw;
    align-items: center;
}

.chamada-btn #btn-produtos{
    padding: 1vw 1.3vw;
    height: 7.2vh;
    width: 12vw;
    cursor: pointer;
    text-decoration:none;
    border: 0.2vw solid var(--color-btn);
    border-radius: 2vw;
    text-align: center;
    background: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color:var(--color-btn);
    transition: all 500ms ease;
}

.chamada-btn #btn-produtos:hover{
    background-color: var(--color-btn);
    color:var(--color-one);
}

.chamada-btn #btn-wherebuy{
    padding: 1.2vw 1.3vw;
    width: 12vw;
    height: 7.2vh;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2vw;
    text-align: center;
    background-color: var(--color-btn);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color:var(--color-one);
}

.chamada-btn #btn-wherebuy:hover{
    width: 12.2vw;
    height: 7.5vh;

}

.chamada-imagem{
    width: 100%;
    height: 76vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.video-view{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 17%;
    top: 0%;
    z-index: 0;
}

.video-camada{
    width: 100%;
    height: 100%;
    position: absolute;    
}

.video-seletor{
    width: 6.8vw;
    height: 14.6vh;
    margin-top: 32vh;
    margin-left: 62.5vw;
}

.video-play{
    width: 100%;
    height: 100%;
}

#playbtn{
    font-size: 6.5em;
    cursor: pointer;
    color: transparent;
    display: none;
}

#pausebtn{
    font-size: 6.5em;
    cursor: pointer;
    color: transparent;
    display: block;
}
.video-camada:hover{
    background-color:var(--color-video-hover);
}

.video-camada:hover #playbtn{
    color: var(--color-btn);
}

.video-camada:hover #pausebtn{
    color: var(--color-btn);
}

footer{
    width: 95%;
    height: 6vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-text-footer);
}

footer a{
    color: var(--color-text-footer-link);
    font-weight: 500;
}