@import url('https://fonts.googleapis.com/css2?family=Allura&family=Inter:wght@400;500;600&display=swap');

:root{
    --color-text: #0D0D0D;
    --color-bg: #e8e8e8;
    --color-text-footer: #0D0D0Daa;
    --color-video-hover: #ffffff33;
    --color-btn-tobuy: #e8e8e8aa;
    --color-btn-tobuy-hover: #ffffffaa;
    --color-border: #0D0D0D66;
    --color-one: #467302;
    --color-two: #f2b705;
    --color-three: #F2360C;
}

.dark-theme{
    --color-text: #e8e8e8;
    --color-bg: #0d0d0d;
    --color-text-footer: #e8e8e8Daa;
    --color-video-hover: #00000033;
    --color-btn-tobuy: #0d0d0daa;
    --color-btn-tobuy-hover: #000000aa;
    --color-border: #e8e8e866;
    --color-one: #f2b705;
    --color-two: #467302;
    --color-three: #F2360C;
}

*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color:var(--color-bg);
}

header {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.faixa1{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 2% 0% 2%;
    border-bottom: 0.1vw solid var(--color-border);
}

.faixa1 .logo{
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.faixa1 .logo h1{
    width: 40%;
    font-family: 'Allura', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    
}

.faixa1 .logo a{
    color: var(--color-text);
}

.logo #slogan{
    width: 60%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--color-text);
    font-size: 1rem;
    padding-left: 7%;
    border-left: 0.1vw solid var(--color-text);
    height: 2vw;
    line-height: 2vw;
}

.certificados{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 1.5vw;
    height: 11vh;
}

.certificados img{
    height: 6.5vh;
}

.faixa2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 0 2% 0 0;
}
.menu{
    width: 60%;
    height: 6vh;
}

.menu ul{
    width: 100%;
    height: 6vh;
    margin: 0 auto;
    display: flex;
    justify-content:left;
    gap: 0.5%;
}

.menu ul li {
    list-style: none;
    position: relative;
}

.menu ul li a{
    width: 8vw;
    height: 6vh;
    display: inline-block;
    text-align: center;
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 10%;
}

.menu ul li a:after{
    position: absolute;
    width: 0;
    height: 0.6vh;
    background-color: var(--color-one);
    content: "";
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 400ms;
    transition: 400ms;
}

.menu ul li a:hover:after{
    width: 100%;
}

.social-media{
    width: 23%;
}

.social-media ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 5%;
}

.social-media ul li{
    list-style: none;
}

.social-media ul li a{
    color:var(--color-text);
}

.social-media ul li a .fa-brands{
    font-size: 1.5vw;
}

.social-media ul li a .fa-brands:hover{
    color: var(--color-one);
}

.acessibilidade{
    width: 12%;
    border-left: 0.1vw solid var(--color-text);
}

.acessibilidade ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10%;
    
}

.acessibilidade ul li{
    list-style: none;
    position: relative;
}

.acessibilidade ul li i{
    color:var(--color-text);
    font-size: 1.5vw;
    cursor: pointer;
}

.acessibilidade ul li i:hover{
    color: var(--color-one);
}

.acessibilidade ul li #idiomas{
    position: absolute;
    top: 0%;
    right: 150%;
    padding: 0% 40%;
    height: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color:var(--color-text);
    font-size: 1em;
}

.select-idioma{
    margin: 0% 15%;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    
}
.divisor-idiomas{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.light-dark .fa-moon{
    position: relative;
    display: block;
}
.light-dark .fa-sun{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#chamada{
    width: 95%;
    margin: 0 auto;
    height: 76vh;
}

#chamada-box{
    width: 100%;
    height: 40vh;
    display: relative;
}

.chamada-box1 {
    width: 45%;
    height: 75.1vh;
    background-color:var(--color-one);
    z-index: 2;
    position:absolute;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.8% 7.2% 2.8% 2.8%;
}

.chamada-titulo{
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15%;
}

.chamada-titulo h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-bg);
    line-height: 2.6vw;
}

.chamada-titulo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--color-bg);
    line-height: 1.5vw;
}

.chamada-btn{
    display: flex;
    flex-direction: row;
}

.chamada-btn #btn-produtos{
    padding: 1vw 1.3vw;
    height: 3.5vw;
    width: 12vw;
    cursor: pointer;
    text-decoration:none;
    border: 0.2vw solid var(--color-bg);
    border-radius: 2vw;
    text-align: center;
    background: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color:var(--color-bg);
    transition: all 500ms ease;
}

.chamada-btn #btn-produtos:hover{
    background-color: var(--color-bg);
    color:var(--color-one);
    
}

.chamada-btn #btn-wherebuy{
    padding: 1.2vw 1.3vw;
    width: 12vw;
    height: 3.5vw;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2vw;
    text-align: center;
    background-color: var(--color-btn-tobuy);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 1%;
    color:#467302;
    position: relative;  
    overflow: hidden;
    display: block;
}

.chamada-btn .btn-wherebuy-1{
    background-color: var(--color-bg);
    
}

.chamada-btn .btn-wherebuy-1:before{
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 3.7vw;
    background-color: var(--color-btn-tobuy-hover);
    border-radius: 2vw;
    transition: all 400ms ease;
    z-index: -1;
}

.chamada-btn .btn-wherebuy-1:hover:before{
    width: 100%;
}

.chamada-imagem{
    width: 100%;
    height: 75.1vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.video-view{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 17%;
    top: 0%;
    z-index: 0;
}

.video-camada{
    width: 100%;
    height: 100%;
    position: absolute;    
}

.video-seletor{
    width: 6.8vw;
    height: 14.6vh;
    margin-top: 32vh;
    margin-left: 62.5vw;
}

.video-play{
    width: 100%;
    height: 100%;
}
.fa-circle-play{
    font-size: 6.5em;
    color: transparent;
    cursor: pointer;
}

.video-camada:hover{
    background-color:var(--color-video-hover);
}

.video-camada:hover .fa-circle-play{
    color: var(--color-bg);
}

footer{
    width: 95%;
    height: 6vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-text-footer);
}

footer a{
    color: var(--color-text);
    font-weight: 500;
}